@use './_utils'

// Global & reused classes
*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-feature-settings: 'lnum' on
  &:focus-visible
    outline: 2px solid utils.$primary-color
    outline-offset: 5px

html
  font-family: utils.$raleway
  font-size: 14px
  font-weight: 400
  accent-color: utils.$primary-color

ul
  list-style: none

a
  text-decoration: none
  color: inherit

button
  border: none
  background: none
  font-family: inherit
  font-size: inherit
  cursor: pointer

.container
  margin: 0 10px
  @include utils.media-small
    max-width: 600px
    margin: 0 auto
  @include utils.media-medium
    max-width: 950px
    margin: 0 auto
  @include utils.media-large
    max-width: 1280px
    margin: 0 auto

.chevron
  display: flex
  align-items: center
  gap: 3px

.chevron__icon
  display: flex
  width: 12px
  height: 6px
  & .icon
    fill: none
    stroke: utils.$black

.hidden
  display: none
