// Colors
$primary-color: #DA1F39
$white: #ffffff
$black: #000000
$grey: #F4F4F4

// Font variables
$raleway: 'Raleway', sans-serif
$roboto: 'Roboto', sans-serif

// Box model
*
  margin: 0
  padding: 0
  box-sizing: border-box

html
  font-family: $raleway
  font-size: 14px
