@use './_fonts'
@use './global'
@use './utils'

.breadcrumb
  margin-bottom: 20px
  display: none
  @include utils.media(1000px)
    display: revert

.breadcrumb__list
  display: flex
  gap: 5px

.breadcrumb__item
  @include utils.small-light
  ::after
    content: ""
    display: inline-block
    vertical-align: middle
    width: 25px
    border-bottom: 1px solid utils.$black
    margin-left: 5px
  a
    @include utils.small-semibold

.catalog-grid
  display: grid
  grid-template-columns: 15% 83.5%
  justify-content: space-between

.filter
  display: none
  @include utils.media(1000px)
    display: revert
    padding-top: 20px
    grid-column: 1 / 2

.filter__group
  margin-bottom: 15px
  .filter__item-list
    display: none
  &_open
    .chevron__icon
      transform: rotateX(180deg)
    .filter__item-list
      display: revert

.filter__title
  @include utils.small-semibold
  margin-bottom: 10px

.filter__item
  color: utils.$dark-grey
  @include utils.small-light
  margin-bottom: 5px
  display: flex
  gap: 5px

.filter-mobile
  float: left
  @include utils.media(1000px)
    display: none

.filter-mobile__btn
  @include utils.small-light

.catalog
  grid-column: 1 / 3
  margin-bottom: 50px
  @include utils.media(1000px)
    grid-column: 2 / 3
    margin-bottom: 130px

.catalog__heading
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  align-items: center
  row-gap: 20px
  margin-bottom: 20px
  @include utils.media(1000px)
    flex-wrap: nowrap

.title
  @include utils.accent-small
  line-height: 140.3%
  text-transform: uppercase
  text-align: end
  flex-basis: 100%
  @include utils.media(1000px)
    @include utils.accent-medium
    order: 2

.layout
  display: none
  @include utils.media(1000px)
    display: flex
    gap: 10px
    margin-right: 13px

.layout__btn
  width: 14px
  height: 14px
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  align-content: space-between
  span
    background-color: utils.$light-grey

.layout__btn_four
  span
    width: 6px
    height: 6px

.layout__btn_nine
  span
    width: 4px
    height: 4px

.layout__btn_active
  span
    background-color: utils.$dark-grey

.sort
  @include utils.small-light
  display: flex
  @include utils.media(1000px)
    width: 50%
    justify-content: flex-start

.sort__btn
  margin-left: 5px
  font-weight: inherit

.product-list
  margin-top: 20px
  display: flex
  flex-wrap: wrap
  gap: 20px
  margin-bottom: 50px
  @include utils.media(1000px)
    gap: 50px

.product
  flex-basis: calc(50% - 10px)
  @include utils.media(1000px)
    flex-basis: calc(50% - 25px)

.product__image
  width: 100%
  margin-bottom: 5px

.product__title
  @include utils.small-light
  margin-bottom: 5px
  @include utils.media(1000px)
    @include utils.medium-light

.product__price
  @include utils.medium-bold
  line-height: 166.2%

.pagination
  display: grid
  @include utils.media(1000px)
    grid-template-columns: repeat(3, 1fr)

.pagination__load-more
  @include utils.medium-semibold
  text-transform: uppercase
  justify-self: center
  display: flex
  gap: 7px
  text-decoration: underline
  text-underline-offset: 3px
  & span
    height: 1.15em
    width: 1em
    fill: utils.$black
  @include utils.media(1000px)
    grid-column: 2 / 3

.pagination__pages-block
  display: none
  @include utils.media(1000px)
    display: revert
    grid-column: 3 / 4
    justify-self: end

.pagination__page-list
  display: flex
  gap: 10px

.pagination__page-item
  @include utils.medium-bold
  &_disabled
    pointer-events: none
    color: utils.$disabled-grey
  &_dots
    @include utils.roboto-medium
