@use './global'
@use './utils'

.header
  padding: 8px 0
  display: flex
  justify-content: space-between
  align-items: center
  font-size: 1.143rem
  font-weight: 400
  margin-bottom: 20px
  @include utils.media(1000px)
    padding: 25px 0
    align-items: center

.header__left
  width: 35%

.header__right
  width: 35%
  display: flex
  justify-content: flex-end
  align-items: center
  gap: 20px

.header__desktop
  display: none
  @include utils.media(1000px)
    display: flex

.nav-list
  display: flex
  gap: 30px

.nav-list__item
  display: inline

.nav-list__item_active
  a
    color: global.$primary-color
    font-weight: 700

.header__mobile-menu
  @include utils.media(1000px)
    display: none

.burger-menu
  width: 20px
  height: 9px

.burger-menu__line
  display: block
  border-top: 1px solid global.$black
  margin-bottom: 3px

.burger-menu__line_short
  @extend .burger-menu__line
  width: 50%

.icon
  width: 100%
  height: 100%

.logo
  width: 95px
  height: 25px
  & .icon
    fill: global.$black
  @include utils.media(1000px)
    width: 184px
    height: 48px

.header__phone
  @include utils.fix-numbers

.search
  width: 17px
  height: 17px
  & .icon
    fill: global.$black
  @include utils.media(1000px)
    width: 20px
    height: 20px

.shopping-bag
  width: 14px
  height: 17px
  position: relative
  & .icon
    fill: none
    stroke: global.$black
  @include utils.media(1000px)
    width: 20px
    height: 24px

.shopping-bag__counter
  font-family: global.$roboto
  font-size: 0.571rem
  color: global.$white
  padding: 1px
  position: absolute
  min-width: 11px
  min-height: 11px
  background-color: global.$primary-color
  border-radius: 50%
  right: -3px
  bottom: -3px
  @include utils.media(1000px)
    font-size: 0.714rem
    min-width: 13px
    min-height: 13px
